---
---

<section class="py-8">
    <h1 class="text-3xl font-bold text-center">Eventos</h1>
    <div class="container mx-auto px-5 py-2 lg:px-32">
        <div class="-m-1 flex flex-wrap md:-m-2">
            <div class="flex w-1/2 flex-wrap">
                <div class="w-1/2 p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://pbs.twimg.com/media/EAmfnjTXoAER7z4?format=jpg"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6tF9jLAho3wjxN3zDuI2fgKbFsf_Sw54S6w"
                    />
                </div>
                <div class="w-full p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://pbs.twimg.com/media/FJTbm_MXEAIWWoa?format=jpg"
                    />
                </div>
            </div>
            <div class="flex w-1/2 flex-wrap">
                <div class="w-full p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://pbs.twimg.com/media/EAmfnjTXoAER7z4?format=jpg"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://www.usme.com.co/wp-content/uploads/ultimo-concierto-navideno-usme.jpg"
                    />
                </div>
                <div class="w-1/2 p-1 md:p-2">
                    <img
                        alt="gallery"
                        class="block h-full w-full rounded-lg object-cover object-center"
                        src="https://pbs.twimg.com/media/FE-LzlvWQAoN2rW.jpg"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
