<header
        class="flex flex-col items-center lg:flex-row p-10 gap-3 mx-auto container md:pt-10"
    >
        <img
            src="./images/olimpicastereofm_logo-min.png"
            alt="logo"
            width="0"
            height="0"
            class="w-full object-contain"
        />
        <div class="mb-1">
            <p class="text-justify my-4 text-xl ">
                Somos el sistema musical más escuchado de Colombia, gózate lo
                que se canta y que se baila de todos los géneros musicales,
                solicita lo nuevo de tus artistas favoritos, entérate de las
                noticias de los famosos más importantes y participa en los
                concursos y actividades que tenemos para todos nuestros oyentes.
            </p>
            <a href="/about">
                <button class="bg-orange-400 p-3 rounded-full text-white  hover:bg-orange-700 shadow-md font-bold">
                    Conoce más
                </button>
            </a>
        </div>
    </header>