<section class="flex items-center justify-center mx-8 my-8">
    <img
        src="/images/sorteo-min.jpg"
        alt="Sorteo"
        width="0"
        height="0"
        class="rounded-lg object-contain w-[55rem]"
    />
</section>