---
import Footer from "../components/Footer.astro";
import Navbar from "../components/react/Nav";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Conoce más sobre Olímpica Stereo, una emisora de radio líder en Colombia. Descubre nuestra historia, misión y objetivos."
        />
        <meta
            name="keywords"
            content="Olímpica Stereo, emisora de radio, Colombia, música"
        />
        <title>{title}</title>
    </head>
    <body>
        <main class="">
            <Navbar client:load />
            <slot />
        </main>
        <Footer />
    </body>
</html>
